@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #38b2ac;
  background-image: linear-gradient(to right, #38b2ac, #d53f8c);
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
}
